*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #222;
}

.cart{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#7bfe00,#54858a);
    color: #fff;
    margin: 30px auto 0; 
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.search{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.search input{
    height: 60px;
    border: none;
    outline: none;
    background: #ecfffc;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
 
.search button{
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    background: #ebfffc;
    border-radius: 50%;
    cursor: pointer;
}
.search button img{
    width: 16px;
}

.weather-icon{
    width: 130px;
    margin-top: 30px;
}
.weather h1{
    font-size: 60px;
    font-weight: 500;
}
.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 30px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 22px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}